<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <targets async="true">
        <target name="debug" xsi:type="Debugger" layout="${threadid} ${level} ${message}"/>

        <target name="file" xsi:type="File"
            layout="${longdate} ${level} ${logger} ${threadid} ${message}"
            fileName="${basedir}/logs/log.current.txt"
            archiveFileName="${basedir}/logs/archives/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
            concurrentWrites="true"
            keepFileOpen="false" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="debug" />
        <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
</nlog>

<!--
    Trace   - Very detailed log messages, potentially of a high frequency and volume 
    Debug   - Less detailed and/or less frequent debugging messages 
    Info    - Informational messages 
    Warn    - Warnings which don't appear to the user of the application 
    Error   - Error messages 
    Fatal   - Fatal error messages. After a fatal error the application usually terminates. 
-->
